:root {
    /* Base Colors */
    --color-bg: #121212;
    --color-fg: #e0e0e0;
    --color-primary: #ffffff;
    --color-primary-hover: #96eec2;
    --color-button-bg: #76c893;
    --color-button-hover: #4caf50;
    --color-button-text-hover: #ffffff;
    --color-card-bg: #1e1e1e;
    --color-link: #76c893;
    --color-link-hover: #96eec2;
    --color-header: #ffffff;
    --color-border: #1e1e1e;
    --color-shadow: rgba(0, 0, 0, 0.3);
    --color-inset-shadow: rgba(0, 0, 0, 0.2);
    --font-main: 'Source Sans 3', Helvetica, Arial, sans-serif;
}