:root {
    /* Base Colors */
    --color-bg: #121212;
    --color-fg: #e0e0e0;
    --color-primary: #f1f1f1;
    --color-primary-hover: #c0c0c0;
    --color-button-bg: #5e5e5e;
    --color-button-hover: #2c2c2c;
    --color-button-text-hover: #ffffff;
    --color-card-bg: #1e1e1e;
    --color-link: #f1f1f1;
    --color-link-hover: #c0c0c0;
    --color-header: #ffffff;
    --color-border: #1e1e1e;
    --color-shadow: rgba(0, 0, 0, 0.3);
    --color-inset-shadow: rgba(0, 0, 0, 0.2);
    --font-main: 'Source Sans 3', Helvetica, Arial, sans-serif;
}