:root {
    /* Base Colors */
    --color-bg: #b4b4b4;
    --color-fg: #1e1e1e;
    --color-primary: #121212;
    --color-primary-hover: #6e6e6e;
    --color-button-bg: #7a7a7a;
    --color-button-hover: #555;
    --color-button-text-hover: #ffffff;
    --color-card-bg: #ffffff;
    --color-link: #3b3b3b;
    --color-link-hover: #6e6e6e;
    --color-header: #121212;
    --color-border: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-inset-shadow: rgba(0, 0, 0, 0.1);
    --font-main: 'Source Sans 3', Helvetica, Arial, sans-serif;
}