details > div,
#styleSwitcher select,
body {
    background-color: #121212;
    color: #e0e0e0;
}

#styleSwitcher,
.container {
    background-color: #1e1e1e;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

h1 {
    color: #ffffff;
}

details > div a,
#styleSwitcher label,
a {
    color: #f1f1f1;
}

a:hover {
    color: #c0c0c0;
}

.button-16 {
    color: #fff;
    background-color: #5e5e5e;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.button-16:hover {
    background-color: #2c2c2c;
}

details summary {
    color: #f1f1f1;
}

details summary:hover {
    color: #c0c0c0;
}

details > div a {
    color: #f1f1f1;
}

details > div a:hover {
    color: #c0c0c0;
}

hr.rounded {
  border: 2px solid #1e1e1e;
}