:root {
    /* Base Colors */
    --color-bg: #2d2b34;
    --color-fg: #e5e3f5;
    --color-primary: #70c1b3;
    --color-primary-hover: #f7c1a6;
    --color-button-bg: #70c1b3;
    --color-button-hover: #f7c1a6;
    --color-button-text-hover: #2d2b34;
    --color-card-bg: #3c3a44;
    --color-link: #70c1b3;
    --color-link-hover: #f7c1a6;
    --color-header: #f3f3f3;
    --color-border: #3c3a44;
    --color-input-bg: #2d2b34;
    --color-chat-msg-bg: #222;
    --color-shadow: rgba(0, 0, 0, 0.4);
    --color-inset-shadow: rgba(0, 0, 0, 0.3);
    --color-focus: rgba(92, 184, 92, 0.4);
    --font-main: 'Source Sans 3', Helvetica, Arial, sans-serif;
}