.dropdown-content,
#styleSwitcher select,
body {
    background-color: #2d2b34;
    color: #e5e3f5;
}

#styleSwitcher,
.container {
    background-color: #3c3a44;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

h1 {
    color: #f3f3f3;
}

.dropdown-header,
.dropdown-content a,
#styleSwitcher label,
a {
    color: #70c1b3;
}

.dropdown-header:hover,
.dropdown-content a:hover,
a:hover {
    color: #f7c1a6;
}

.button-16 {
    color: #231f2b;
    background-color: #70c1b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.button-16:hover {
    background-color: #f7c1a6;
    color: #231f2b;
}

hr.rounded {
  border: 2px solid #3c3a44;
}